#zold { 
    background-color: green;
    flex-grow: 1;
}

#sarga {
    background-color: yellow;
    flex-grow: 1;
}

#lila {
    background-color: purple;
    flex-grow: 1;
}

.zold2 {
    background-color: green;
    flex-grow: 1;
}

.sarga2 {
    background-color: yellow;
    flex-grow: 2;
}

.lila2 {
    background-color: purple;
    flex-grow: 1;
}

.container {    
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
}

.container2 {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
}