<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <div class="container border border-dark">
      <div class="row m-2 border border-dark">
        <div class="col m-2 border border-dark">Column1</div>
        <div class="col m-2 border border-dark">Column2</div>
        <div class="col m-2 border border-dark">Column3</div>
      </div>
    </div>

    <div class="container secondcontainer bg-info">
      <div class="row m-2">
        <div class="col m-2 bg-primary text-light">Column1</div>
        <div class="col m-2 bg-primary text-light">Column2</div>
        <div class="col m-2 bg-primary text-light">Column3</div>
      </div>
    </div>

    <div class="container border mt-2 overflow-auto">
      <div class="row m-2 border">
        <div class="col m-2 border lg">Column1</div>
        <div class="col m-2 border lg">Column2</div>
        <div class="col m-2 border lg">Column3</div>
      </div>
      <div class="row m-2 border">
        <div class="col xl border m-2">Column4</div>
        <div class="col xl border m-3">Column5</div>
        <div class="col xl border m-4">Column6</div>
      </div>
    </div>

    <div class="container border bg-secondary mt-2">
      <div class="row bg-danger text-light m-2">
        <div class="col m-2 md bg-primary">Column1</div>
        <div class="col m-2 md bg-success">Column2</div>
        <div class="col m-2 md bg-primary">Column3</div>
      </div>
      <div class="row bg-warning text-dark m-2">
        <div class="col xl m-2 bg-info">Column4</div>
        <div class="col xl m-2 bg-success">Column5</div>
        <div class="col xl m-2 bg-info">Column6</div>
      </div>
    </div>
  </body>
</html>
